@model VehicleShowroomManagementSystem.Models.Customer


<div class="customer container-fluid" style="margin-top:100px;min-height:500px">
    <div class="row ml-xl-5 mr-xl-5">
        <partial name="NavbarCustomer" />
        <div class="col-xl-10 col-ms-12">
            <h4 class="text-center">Carts</h4>
            <div style="min-height:300px" class="card p-4">
                @{
                    if (Model.Carts.Count() < 1)
                    {
                        <h6 class="text-center text-warning">You have nothing in your cart!</h6>
                    }
                    else
                    {
                        <ul class="list-group list-group-flush list-cart">
                            <li class="list-group-item container">
                                <div class="row">
                                    <div class="col-2">
                                        <h6>Product</h6>
                                    </div>
                                    <div class="col-2">
                                        <h6>Description</h6>
                                    </div>
                                    <div class="col-2">
                                        <h6>Price</h6>
                                    </div>
                                    <div class="col-2">
                                        <h6>Quantity</h6>
                                    </div>
                                    <div class="col-2">
                                        <h6>Unit price</h6>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-1">
                                    </div>
                                </div>
                            </li>

                            @{
                                foreach (var item in Model.Carts)
                                {
                                    <li class="list-group-item container">
                                        <div class="row">
                                            <div class="col-2">
                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                                    <img class="w-100" src="~/image/product/@item.Product.ProductImages[0].Path" />
                                                </a>
                                            </div>
                                            <div class="col-2">
                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                                    @item.Product.Description.Substring(0, item.Product.Description.Length > 30 ? 30 : item.Product.Description.Length)...
                                                </a>
                                            </div>
                                            <div class="col-2 price" value="@item.Product.Price">
                                                @item.Product.Price $
                                            </div>
                                            <div class="col-2">
                                                <div style="display:flex;justify-content:space-evenly;align-items:center">
                                                    <a class="minus-quantity" href="" onclick="return false"><i class="fa fa-minus"></i></a>
                                                    <span dataid="@item.Id">@item.Quantity</span>
                                                    <a class="plus-quantity" href="" onclick="return false"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <span class="text-danger unitPrice">
                                                    @{
                                                        int unitPrice = @item.Product.Price * @item.Quantity;
                                                    }
                                                    @unitPrice $
                                                </span>
                                            </div>
                                            <div class="col-1 checkCart">
                                                @{
                                                    var kh = item.Product.Warehouses.Sum(w => w.Stock);
                                                    if (kh >= item.Quantity)
                                                    {
                                                        <input type="hidden" value="@item.Id" />
                                                        <input type="checkbox" />
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger"> @item.Quantity/@kh</span>
                                                    }
                                                }
                                            </div>
                                            <div class="col-1">
                                                <a asp-controller="Carts" asp-action="Remove" asp-route-id="@item.Id" style="cursor:pointer"><i class="fa fa-trash text-danger"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>

                        <div class="text-right mt-3">
                            <a id="Order" class="btn btn-info" asp-controller="Carts" asp-action="Order">Order</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>