@model IEnumerable<Invoice>


<div class="customer container" style="margin-top:100px">
    <div class="row ml-xl-5 mr-xl-5">
        <partial name="NavbarCustomer" />
        <div class="col-xl-10 col-ms-12">
            <h4 class="text-center">Carts</h4>
            <div class="card p-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item container">
                        <div class="row">
                            <div class="col-2">
                                <h6>Date</h6>
                            </div>
                            <div class="col-3">
                                <h6>Description</h6>
                            </div>
                            <div class="col-3">
                                <h6>Shipping Address</h6>
                            </div>
                            <div class="col-2">
                                <h6>Shipping Phone</h6>
                            </div>
                            <div class="col-2">
                                <h6>Total Price</h6>
                            </div>
                        </div>
                    </li>

                    @{
                        foreach (var item in Model)
                        {
                            <li class="list-group-item container">
                                <a asp-controller="Customers" asp-action="InvoiceDetails" asp-route-id="@item.Id">
                                    <div class="row">
                                        <div class="col-2">
                                            @item.Date
                                        </div>
                                        <div class="col-3">
                                            @item.Description
                                        </div>
                                        <div class="col-3">
                                            @item.ShippingAddress
                                        </div>
                                        <div class="col-2">
                                            @item.ShippingPhone
                                        </div>
                                        <div class="col-2">
                                            <span class="text-danger">
                                                $@item.TotalPrice
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>