@model Invoice

<div class="customer container" style="margin-top:100px">
    <div class="row ml-xl-5 mr-xl-5">
        <partial name="NavbarCustomer" />
        <div class="col-xl-10 col-ms-12">
            <div class="container">
                <div class="row">
                    <div class="col col-3">Date: </div>
                    <div class="col col-9">@Model.Date</div>
                </div>
                <div class="row">
                    <div class="col col-3">Customer: </div>
                    <div class="col col-9">@Model.Customer.FullName</div>
                </div>
                <div class="row">
                    <div class="col col-3">Contract Number: </div>
                    <div class="col col-9">@Model.ContractNumber</div>
                </div>
                <div class="row">
                    <div class="col col-3">Description: </div>
                    <div class="col col-9">@Model.Description</div>
                </div>
                <div class="row">
                    <div class="col col-3">Shipping Address: </div>
                    <div class="col col-9">@Model.ShippingAddress</div>
                </div>
                <div class="row">
                    <div class="col col-3">Shipping Phone: </div>
                    <div class="col col-9">@Model.ShippingPhone</div>
                </div>
            </div>
            <h4 class="text-center">List Product</h4>
            <div class="card p-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item container">
                        <div class="row">
                            <div class="col-2">
                                <h6>Product</h6>
                            </div>
                            <div class="col-3">
                                <h6>Description</h6>
                            </div>
                            <div class="col-3">
                                <h6>Price</h6>
                            </div>
                            <div class="col-2">
                                <h6>Quantity</h6>
                            </div>
                            <div class="col-2">
                                <h6>Unit price</h6>
                            </div>
                        </div>
                    </li>

                    @{
                        foreach (var item in Model.InvoiceDetails)
                        {
                            <li class="list-group-item container">
                                <div class="row">
                                    <div class="col-2">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                            <img class="w-100" src="~/image/product/@item.Product.ProductImages[0].Path" />
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                            @item.Product.Description.Substring(0, item.Product.Description.Length > 30 ? 30 : item.Product.Description.Length)...
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        @item.Product.Price $
                                    </div>
                                    <div class="col-2">
                                        @item.Quantity
                                    </div>
                                    <div class="col-2">
                                        <span class="text-danger">
                                            @{
                                                int total = @item.Product.Price * @item.Quantity;
                                            }
                                            @total $
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="text-right mt-3 row">
                <div class="col col-6"></div>
                <div class="col col-2 text-center" style="font-size:18px">TotalPrice:</div>
                <div class="col col-4 text-danger text-center" style="font-size:20px"> @Model.TotalPrice</div>
            </div>
        </div>
    </div>
</div>