@{
    Customer customer = ViewBag.customer;
    IEnumerable<VehicleShowroomManagementSystem.Models.Manufacturer> manufacturers = ViewBag.manufacturers;
    string styleHeader;
    styleHeader = ViewBag.styleHeader != null ? ViewBag.styleHeader : "header-style-two inner-page-header";

    IEnumerable<VehicleType> vehicleTypes = ViewBag.vehicleTypes;


}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="https://themebeyond.com/html/carnation/carnation/img/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Carnation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/jarallax.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/odometer.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive1.css">


</head>
<body>
    <header class="@styleHeader">
        <div class="header-top-wrap">
            <div class=" container-fluid custom-container">
                <div class="row">
                    <div class="col-md-6 d-none d-md-block">
                        <div class="header-top-action">
                            <ul>
                                <li>
                                    <i class="fa fa-envelope"></i><a href=""><span class="__cf_email__">Email</span></a>
                                </li>
                                <li><i class="fa fa-clock-o"></i> 10:00 AM To 5:00 PM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-top-right">
                            <ul>
                                <li class="header-top-social">
                                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                                    <a href="#"><i class="fa fa-vimeo-square"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>


                                <li class="header-top-login">
                                    @{
                                        if (customer != null)
                                        {
                                            <a style="display:block;margin-left:20px" asp-controller="Customers" asp-action="index">
                                                <img src="~/image/avatar/customer/@customer.Avatar" style="height:14px;margin:0 5px" />
                                                @customer.FullName
                                            </a>
                                        }
                                        else
                                        {
                                            <a id="btn-login" data-toggle="modal" href="#loginModal"><i class="fa fa-user-circle"></i> LOGIN</a>
                                            <a data-toggle="modal" href="#registerModal">REGISTER</a>
                                            <partial name="LoginModal" />
                                            <partial name="RegisterModal" />

                                        }
                                       
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header menu-area">
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-nav-toggler"><i class="fa fa-bars"></i></div>
                        <div class="menu-wrap">
                            <nav class="menu-nav show">
                                <div class="logo">
                                    @{
                                        if (styleHeader != "header-style-two inner-page-header")
                                        {
                                            <a href="/" class="sticky-logo-none">
                                                <img src="~/image/logo/web/logo.png" alt="Logo" />
                                            </a>
                                            <a href="/" class="sticky-logo-active">
                                                <img src="~/image/logo/web/b_logo.png" alt="Logo" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/" class="">
                                                <img src="~/image/logo/web/b_logo.png" alt="Logo" />
                                            </a>
                                        }
                                    }

                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="">
                                            <a href="/">Home</a>
                                        </li>
                                        <li class="">
                                            <a asp-controller="Products" asp-action="Allcars">Products</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href=""  onclick="return false">Manufacturers</a>
                                            <ul class="submenu">
                                                @{
                                                    foreach (var item in manufacturers)
                                                    {
                                                        <li><a asp-controller="Products" asp-action="Manufacturer" asp-route-id="@item.Id">@item.Name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="" onclick="return false">Vehicle Type</a>
                                            <ul class="submenu">
                                                @{
                                                    foreach (var item in vehicleTypes)
                                                    {
                                                        <li><a asp-controller="Products" asp-action="VehicleType" asp-route-id="@item.Id">@item.Name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                    </ul>
                                </div>

                                <div class="header-action d-none d-md-block">
                                    <ul id="shopCart">
                                        @{
                                            if (customer != null)
                                            {
                                                int quantityProduct = customer.Carts.Count();
                                                <li id="quantiyCart" class="header-shop-cart">
                                                    <a asp-controller="Customers" asp-action="index">
                                                        <i class="fa fa-shopping-basket"></i><span>@quantityProduct</span>
                                                    </a>
                                                </li>
                                            }
                                        }

                                        <li id="getaquocte" class="header-btn">
                                            <a asp-controller="Home" asp-action="Contact" class="btn">get a quote</a>
                                        </li>
                                        <li class="header-search">
                                            <a href="#"
                                               data-toggle="collapse"
                                               data-target="#collapse-search-body"
                                               aria-expanded="false"
                                               aria-controls="collapse-search-body">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Mobile Menu  -->
                        <div class="mobile-menu">
                            <div class="menu-backdrop"></div>
                            <div class="close-btn"><i class="fa fa-times"></i></div>

                            <nav class="menu-box">
                                <div class="nav-logo">
                                    <a href="index.html">
                                        <img src="~/image/logo/web/logo.png" alt="" title="" />
                                    </a>
                                </div>
                                <div class="menu-outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook-square"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="fa fa-pinterest-p"></span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="fa fa-youtube-play"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- End Mobile Menu -->
                    </div>
                </div>
            </div>
            <div id="collapse-search-body" class="collapse-search-body collapse">
                <div class="search-body">
                    <div class="container custom-container">
                        <form asp-controller="Home" asp-action="Search">
                            <div class="form-item">
                                <input required name="str" placeholder="Type here..." />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- footer-brand-area -->
    <div class="footer-brand-area" style="margin-top:50px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 order-2 order-md-0">
                    <div class="footer-logo">
                        <a href="/"><img src="~/image/logo/web/w_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row footer-brand-active">
                        @{
                            foreach (var item in manufacturers)
                            {
                                <div class="col">
                                    <div class="footer-brand-item">
                                        <a asp-controller="Products" asp-action="Manufacturer" asp-route-id="@item.Id"><img src="~/image/logo/manufacturer/@item.Image" alt="d"></a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-brand-area-end -->
    <footer class="footer-bg" data-background="/image/logo/web/footer_bg.jpg">
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widget black-bg mb-50">
                            <div class="fw-title mb-30">
                                <h4 class="title">Contact Us</h4>
                            </div>
                            <div class="footer-text mb-45">
                                <p>
                                    There are many variations of passaes of orem ipsum
                                    available, but the majority have in some form, by ipsum
                                    injected
                                </p>
                            </div>
                            <div class="footer-contact">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="fa fa-phone"></i></div>
                                        <div class="content">
                                            <span>PHONE NUMBER</span>
                                            <p><a href="tel:12345678">+01 (845) 965 785</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fa fa-envelope"></i></div>
                                        <div class="content">
                                            <span>EMAIL ADDRESs</span>
                                            <p>
                                                <a href="/cdn-cgi/l/email-protection#99f0f7fff6d9eaece9e9f6ebedb7faf6f4">
                                                    <span class="__cf_email__">Email</span>
                                                </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="content">
                                            <span>address</span>
                                            <p>East 40th Street New York, NY, USA</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-right-wrap">
                            <div class="row justify-content-between">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="footer-widget mb-50">
                                        <div class="fw-title mb-30">
                                            <h4 class="title">Our Info</h4>
                                        </div>
                                        <div class="fw-link">
                                            <ul>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Our Service</a></li>
                                                <li><a href="#">Our Shop</a></li>
                                                <li><a href="#">Blog</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="footer-widget mb-50">
                                        <div class="fw-title mb-30">
                                            <h4 class="title">Quick Link</h4>
                                        </div>
                                        <div class="fw-link">
                                            <ul>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Our Service</a></li>
                                                <li><a href="#">Our Shop</a></li>
                                                <li><a href="#">Blog</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-6 col-md-6">
                                    <div class="footer-widget mb-50">
                                        <div class="fw-title mb-30">
                                            <h4 class="title">Subscribe Us</h4>
                                        </div>
                                        <div class="footer-newsletter">
                                            <form action="#">
                                                <input type="email" placeholder="Your Mail..." />
                                                <button>
                                                    <i class="fa fa-angle-double-right"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="footer-social">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-payment-method-wrap">
                                <div class="content">
                                    <p>
                                        We know that honesty and transparency friendly customer
                                        service
                                    </p>
                                </div>
                                <div class="payment-card">
                                    <img src="~/image/logo/web/payment_card.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="copyright-text">
                            <p>Copyright © 2021. All rights reserved. by Business-theme</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="scroll-top scroll-to-target" data-target="html">
                            <i class="fa fa-angle-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>


    @* main *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/order.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/register.js"></script>
    <script src="~/js/edit-account.js"></script>


    @* template *@
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.odometer.min.js"></script>
    <script src="~/js/jquery.accrue.min.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jarallax.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
