@model IEnumerable<Cart>
@{ 
    Customer customer = ViewBag.customer;
}



<div id="order" class="order container" style="background: #ffb785; padding-bottom: 20px; }">
    <h1 class="text-center">Order</h1>
    <div class="card p-4">

        <form id="form-order" asp-controller="Carts" asp-action="Pay" class="">
            <div class="form-group">
                <label for="ShippingAddress">ShippingAddress</label>
                <input name="ShippingAddress" type="text" class="form-control" id="ShippingAddress" placeholder="ShippingAddress" value="@customer.Address">
            </div>
            <div class="form-group">
                <label for="ShippingPhone">ShippingPhone</label>
                <input name="ShippingPhone" type="text" class="form-control" id="ShippingPhone" placeholder="ShippingPhone" value="@customer.PhoneNumber">
            </div>

            <ul class="list-group list-group-flush list-cart">
                @{
                    string listId = "";
                    int totalPrice = 0;
                    foreach (var item in Model)
                    {
                        listId += item.Id + ",";

                        <li class="list-group-item container">
                            <div class="row">
                                <div class="col-3">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                        <img class="w-100" src="~/image/product/@item.Product.ProductImages[0].Path" />
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                        @item.Product.Description.Substring(0, item.Product.Description.Length > 30 ? 30 : item.Product.Description.Length)...
                                    </a>
                                </div>

                                <div class="col-3">
                                    <div style="display:flex;justify-content:space-evenly;align-items:center">
                                        <span dataid="@item.Id">@item.Quantity</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <span class="text-danger unitPrice">
                                        @{
                                            int unitPrice = @item.Product.Price * @item.Quantity;
                                            totalPrice += unitPrice;
                                        }
                                        @unitPrice $
                                    </span>
                                </div>
                            </div>
                        </li>

                    }
                }
            </ul>

            <div class="row mt-3">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3 text-danger" style="font-size:20px">@totalPrice $</div>
            </div>

            <input type="hidden" name="listId" value="@listId" />
            <div class="text-right mt-2">
                <button id="btn-order" class="btn btn-success">Order</button>
            </div>
        </form>
        
    </div>
</div>