

@model Product

@{ 
    Customer customer = ViewBag.customer;
}

<div class="pay-content container" style="background: #ffb785; padding-bottom: 20px; margin-top:75px">
    <h1 class="text-center">Order</h1>
    <div class="card p-4">

        <form asp-action="Pay" class="">
            <div class="form-group">
                <label for="ShippingAddress">ShippingAddress</label>
                <input name="ShippingAddress" type="text" class="form-control" id="ShippingAddress" placeholder="ShippingAddress" value="@customer.Address">
            </div>
            <div class="form-group">
                <label for="ShippingPhone">ShippingPhone</label>
                <input name="ShippingPhone" type="text" class="form-control" id="ShippingPhone" placeholder="ShippingPhone" value="@customer.PhoneNumber">
            </div>


            <div class="row mt-4">
                <div class="col-xl-2">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">
                        <img class="w-100" src="~/image/product/@Model.ProductImages[0].Path" />
                    </a>
                </div>
                <div class="col-xl-3">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">
                        @Model.Description.Substring(0, Model.Description.Length > 30 ? 30 : Model.Description.Length)...
                    </a>
                </div>
                <div class="col-xl-2">
                    @Model.Price $
                </div>

            </div>
            <input name="productId" type="hidden" value="@Model.Id" />
            <div class="text-right">
                <button  class="btn btn-success">Order</button>
            </div>
        </form>

    </div>

</div>